@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://fonts.googleapis.com/css?family=Barlow');
@font-face {
  font-family: 'PokeFont';
  src: url(../fonts/pokemon-advanced-battle.ttf);
}

/* Globals */

html {
  margin: 0;
  height: 100%;
  min-height: 20vw;
  cursor: url(../images/misc/cursor.png), auto;
  font-size: 25px;
  background-color: #292929;
}

body {
  font-family: 'PokeFont', 'Barlow', 'Signika', 'Muli', 'Raleway', sans-serif ! important;
  text-align: center;
  margin: 0;
  background-image: #8F8FA7;
  color: #FFFFFF;
  text-shadow: 3px 3px #000000;
  height: 100%;
  display: block;
  align-items: center;
}

::-webkit-scrollbar {
  display: none;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: #2F2F2F;
}

#navbar li, #home-navbar li {
    float: left;
}

#navbar li a, #home-navbar li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */

#navbar  li a:hover, #home-navbar li a:hover {
    background-color: #CB881D;
}


.button {
  font-family: inherit;
  color: inherit;
  outline: none;
  cursor: pointer ! important;
}


.board {
  border: 10px solid #292929;
  border-radius: 15px;
  border-style: ridge;
  text-align: left;
  background-color: #292929;
  display: grid;
  grid-template-columns: 350px 280px;
  grid-template-areas: 'active-pokemon my-pokemon';
  align-content: center;
  max-height: 100vh;
}

.active-pokemon-container {
  grid-area: 'activePokemon';
  float: right;
}

.my-pokemon-container {
  grid-area: 'my-pokemon';
  min-width: 150px;
}

/* Active Pokemon */

.grid-row {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
}

.grid-column {
  display: inline;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  background-image: linear-gradient(#CCCCCC, #F2F2F2 10%, #CCCCCC);
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 150px;
  min-height: 150px;
}

.grid-column.top {
  border-bottom: 10px solid #292929;
  border-top: 10px solid #292929;
}

.grid-column.top.left {
  border-left: 10px solid #292929;
  border-right: 0px solid #292929;
  border-radius: 5px 0px 0px 0px;
}

.grid-column.top.right {
  border-left: 10px solid #292929;
  border-right: 10px solid #292929;
}

.grid-column.middle.left {
  border-left: 10px solid #292929;
  border-right: 0px solid #292929;
}

.grid-column.middle.right {
  border-left: 10px solid #292929;
  border-right: 10px solid #292929;
  border-top: 0px solid #292929;
}

.grid-column.bottom.left {
  border-bottom: 10px solid #292929;
  border-left: 10px solid #292929;
  border-right: 0px solid #292929;
  border-top: 10px solid #292929;
  border-radius: 0px 0px 0px 5px;
}


.grid-column.bottom.right {
  border-bottom: 10px solid #292929;
  border-left: 10px solid #292929;
  border-right: 10px solid #292929;
  border-top: 10px solid #292929;
}

.grid-image {
  display: block;
  margin: 0;
  max-width: 150px;

}

/* My Pokemon */

.my-pokemon {
  border: 10px solid #000000;
  margin-right: 0px;
  position: relative;
  display: inline-block;
  height: 100%;
  width: 98%;
  background-image: url(../images/misc/pokemon_bg_blue.png);
  background-repeat: repeat;
}

.my-pokemon-header {
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  background-color: #292929;
}

.my-pokemon-buttons-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.my-pokemon-buttons {
  border: 5px solid #000000;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.my-pokemon-list {
  width: 100%;
  max-height: calc(100vh - 140px);
  overflow-y: scroll;
  background-color: #000000;
}

.my-pokemon-entry {
  position: relative;
  /* background-color: #FFE066; */
  background-image: linear-gradient(180deg, #3793E0 80%, #85C3DC 20%) ! important;
  border-radius: 10px;
  border: 5px solid #000000;
  vertical-align: top ! important;
  padding-left: 2%;
}

.my-pokemon-entry-image {
  padding-top:5px;
  height: 30px;
}

.my-pokemon-entry-text {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 8px;
  padding-left: 10px;
  font-size: 20px;
}

.remove-entry-button {
  outline: none;
  display: none;
  position: absolute;
  right: 0px;
  padding-left: 3px;
  padding-top: 2px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 5px solid #000000;
  background-color: #CCCCCC;
  cursor: pointer;
}

.add-pokemon.button {
  background-color: #4CAF50;
  width: 100%;
  font-size: 20px;
}

.entry-options-button {
  position: absolute;
  right: 0px;
  top: 10px;
  height: 50%;
  max-height: 45px;
  cursor: pointer;
}

/* Add Pokemon */

.add-pokemon-dialog {
  background-color: #8FB767;
  border: 10px solid #BFE097;
  border-style: ridge;
  display: none;
  z-index: 2;
  position: absolute;
  top: 20px;
  padding-left: 0;
  right: 10px;
  max-height: 80vh;
  width: 40%;
  overflow-y: scroll;
}

.add-pokemon-header {
  text-align: center;
}

.add-pokemon-list{
  padding-left: 0;
  width: 100%;
}

.add-pokemon-list-button {
  border: 5px solid #000000;
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(180deg, #C0680F 80%, #D1A31C 20%) ! important;
}

.add-pokemon-entry-image {
  height: 45px;
}

.add-pokemon-entry-text {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 15px;
  padding-left: 10px;
  font-size: 20px;
}

/* Entry Options */

.entry-options-dialog {
  background-color: #4CAF50;
  border: 5px solid #000000;
  border-radius: 5px;
  display: none;
  z-index: 2;
  position: absolute;
  right: 70px;
  padding-left: 10px;
  max-height: 44vw;
  width: 30%;
  overflow-y: scroll;
}

.entry-options-list-item{
  list-style-type: none;
  left: 0;
  width: 100%;
}

.entry-options-list{
  padding-left: 0;
  width: 100%;
}

.entry-options-header {
  display: inline;
}

.entry-option {
  cursor: pointer;
  font-size: 20px;
}

.entry-options-image {
  height: 40px;
}

.entry-options-active-selector {
  padding-left: 5px;
  height: 15px;
  visibility: hidden;
}

.entry-options-remove-selector {
  padding-left: 5px;
  height: 15px;
  visibility: hidden;
}

.entry-options-inactive-selector {
  padding-left: 5px;
  height: 15px;
  visibility: hidden;
}
